version: '3.8'

services:
  app:
    build:
      context: .
    command: npm run dev
    ports:
      - "3000:3000"
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    #   - /app/.next
    environment:
      - NODE_ENV=development
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - app-network
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge